@import "dist/scss/normalize.scss",
        "dist/scss/foundation.scss",
        "dist/scss/fontawesome/font-awesome.scss";

body {
  background: #333;
  font-size: 16px;
  font-family: 'Ubuntu Mono', monospace;
}
.top-bar {
  background: #333;
  color: $primary-color;
}
.fixed { border-bottom: solid 8px $primary-color; }
.top-bar .name h1 a { color: $primary-color; }
.gist-file pre { color: #000; }

#salvattore {
  h1, h2, h3, h4, h5, h6 { font-family: 'UbuntuMono', monospace; }
  .full-width {
    width: 100%;
    max-width: 100%;
  }
  .code-column {
    background-color: #333;
    color: #fff;
    word-wrap: break-word;

    h6 {
      color: #ddd;
      margin: 0.2em 0;
    }

    h4 {
      color: #fff;
      margin: 10px 0;
      a {
        color: #fff;
        &:hover {
          color: #ddd;
          text-decoration: underline;
        }
      }
    }

  }

  @media #{$small-only} {
    &[data-columns]::before { content: '1 .column.small-12.code-column'; }
  }
  @media #{$medium-only} {
    &[data-columns]::before { content: '2 .column.small-6.code-column'; }
  }
  @media #{$large-only} {
    &[data-columns]::before { content: '3 .column.small-4.code-column'; }
  }
  @media #{$xlarge-up} {
    &[data-columns]::before { content: '4 .column.small-3.code-column'; }
  }
}

/**
 * This prettyprint code is shamelessly stolen from the one and only @daylerees http://laravel.com/css/style.css
 */
pre {
  font-family: "Ubuntu Mono", monospace;
  background-color: #333;
  padding: 5px;
  font-size: 90%;
  color: #e9e4e5;
  line-height: 1.5em;
  margin: 0.2em 0;
  border: 0;
  white-space: pre-wrap;
  .pln { color:#e9e4e5; }
  .str { color:#bcd42a; }
  .kwd { color:#4bb1b1; }
  .com { color:#888888; display:block; }
  .com + .pln { white-space: normal; }
  .typ { color:#ef7c61; }
  .lit { color:#bcd42a; }
  .pun, .opn, .clo { color:#ffffff; }
  .tag { color:#4bb1b1; }
  .atn { color:#ef7c61; }
  .atv { color:#bcd42a; }
  .dec, .var { color:#660066; }
  .fun { color:#ff0000; }
  code { font-family: "Ubuntu Mono", monospace; }
  &.prettyprint { border: 0 ! important; }
}
