@import "dist/scss/normalize.scss",
        "dist/scss/foundation.scss",
        "dist/scss/fontawesome/font-awesome.scss";

.fixed { border-bottom: solid 8px $primary-color; }
.top-bar .name h1 a { color: $primary-color; }
.gist-file pre { color: #000; }

#salvattore {
  h1, h2, h3, h4, h5, h6 { font-family: 'UbuntuMono', monospace; }
  h4 a span { color: #333; }
  .full-width {
    width: 100%;
    max-width: 100%;
  }
  .code-column {
    color: #fff;
    word-wrap: break-word;

    h6 {
      margin: 0.2em 0;
      font-style: italic;
    }

    h4 {
      margin: 10px 0;
      a:hover { text-decoration: underline; }
    }
  }

  @media #{$small-only} {
    &[data-columns]::before { content: '1 .column.small-12.code-column'; }
  }
  @media #{$medium-only} {
    &[data-columns]::before { content: '2 .column.small-6.code-column'; }
  }
  @media #{$large-only} {
    &[data-columns]::before { content: '3 .column.small-4.code-column'; }
  }
  @media #{$xlarge-up} {
    &[data-columns]::before { content: '4 .column.small-3.code-column'; }
  }
}

/**
 * This prettyprint code is shamelessly stolen from the one and only @daylerees http://laravel.com/css/style.css
 */
pre {
  padding: rem-calc(20);
  font-family: 'Ubuntu Mono', monospace;
  font-size: rem-calc(14);
  color: #e9e4e5;
  line-height: rem-calc(21);
  white-space: pre-wrap;
  background-color: #333;
  @include radius($radius:5px);
  .pln { color:#e9e4e5; }
  .str, .atv, .lit { color:#bcd42a; }
  .kwd, .tag { color:#4bb1b1; }
  .com {
    color:#888888;
    display:block;
  }
  .com + .pln { white-space: normal; }
  .typ, .atn { color:#ef7c61; }
  .pun, .opn, .clo { color:#ffffff; }
  .dec, .var { color:#660066; }
  .fun { color:#ff0000; }
}
