    <div class="fixed">
        <nav class="top-bar" data-topbar>
          <ul class="title-area">
            <li class="name">
              <h1><a href="index.html">LaravelCS</a></h1>
            </li>
            <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
          </ul>

          <section class="top-bar-section">
            <!-- Left Nav Section -->
            <ul class="left">
                <li class="has-dropdown"><a href="#"><i class="fa fa-file-text"></i> Documentation</a>
                  <ul class="dropdown">
                    <li><a target="_blank" href="http://laravel.com/docs">Laravel 4 Docs</a></li>
                    <li><a target="_blank" href="http://three.laravel.com">Laravel 3 Docs</a></li>
                  </ul>
                </li>
                <li {% if page.active == "nginx" %}class="active"{% endif %}><a href="nginx.html"><i class="fa fa-wrench"></i> Nginx Config</a></li>
            </ul>

            <!-- Right Nav Section -->
            <ul class="right">
                {% if page.active == "home" %}
                <li class="comments-toggle"><a href="#"><i class="fa fa-comments"></i> Toggle Code Comments</a></li>
                {% endif %}
                <li><a href="https://github.com/Ilyes512/LaravelCS"><i class="fa fa-github"></i> Github</a></li>
            </ul>

          </section>
        </nav>
    </div>