---
---

body { background: #333; font-size: 16px; font-family: 'Ubuntu Mono', monospace;}
h1,h2,h3,h4,h5,h6 { font-family: 'UbuntuMono', monospace; }
.top-bar { background: #333; color: #f4645f; }
.fixed { border-bottom: solid 8px #f4645f; }
.top-bar .name h1 a { color: #f4645f; }
.row.full-width { width: 100%; max-width: 100%; }
.code-column { background-color: #333; color: #fff; word-wrap: break-word; }
.code-column h6 { color: #ddd; margin:0.2em 0; }
.code-column h4 { color: #fff; margin: 10px 0; }
.code-column h4 a { color: #fff; }
.code-column h4 a:hover { color: #ddd; text-decoration: underline; }

@media only screen and (max-width: 40em) {
    #grid[data-columns]::before {
        content: '1 .column.small-12.code-column';
    }
}
@media only screen and (min-width: 40.063em) and (max-width: 64em) {
    #grid[data-columns]::before {
        content: '2 .column.small-6.code-column';
    }
}
@media only screen and (min-width: 64.063em) and (max-width: 90em) {
    #grid[data-columns]::before {
        content: '3 .column.small-4.code-column';
    }
}
@media only screen and (min-width: 90.063em) and (max-width: 120em) {
    #grid[data-columns]::before {
        content: '4 .column.small-3.code-column';
    }
}

/**
 * This prettyprint code is shamelessly stolen from the one and only @daylerees http://laravel.com/css/style.css
 */
 pre{font-family: "Ubuntu Mono", monospace;background-color:#333;padding:5px;font-size:90%;color:#e9e4e5;line-height:1.5em;margin:0.2em 0;border: 0;white-space:pre-wrap;}
 pre .pln{color:#e9e4e5;}
 pre .str{color:#bcd42a;}
 pre .kwd{color:#4bb1b1;}
 pre .com{color:#888888;display:block;}
 pre .com + .pln {white-space: normal;}
 pre .typ{color:#ef7c61;}
 pre .lit{color:#bcd42a;}
 pre .pun, pre .opn, pre .clo{color:#ffffff;}
 pre .tag{color:#4bb1b1;}
 pre .atn{color:#ef7c61;}
 pre .atv{color:#bcd42a;}
 pre .dec, pre .var{color:#660066;}
 pre .fun{color:#ff0000;}
 pre code{font-family: "Ubuntu Mono", monospace;}
 pre.prettyprint { border: 0 ! important; }
